<%= render partial: 'audience_websocket' %>

<section id='0'>
<h2>You're In!</h2>
</section>

<%= render partial: 'google_map' %>

<%= render partial: 'vote' %>

<section id='3'>
<h2>Thank you!</h2>
<span><a href='http://linkedin.com/in/kjforeman/'>linkedin.com/in/kjforeman</a></span>
</section>

<style type="text/css">
body {
    font-family: "Helvetica Neue", sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    background: #222 url(cartographer.png);
    color: #fff;
}
a {
  color: #6baed6;
  font-size: 1.5em;
}

a:not(:hover) {
  text-decoration: none;
}
</style>
